
.content {
    grid-area: c;
    background-color: #ffe0ee;
    padding: 10px;
}
    .ava_description {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "a d";
    grid-template-rows: 110px 5fr;
    grid-template-columns: 3fr 10fr;
      
}  
  .description {
      
    grid-area: d;
    padding: 10px 20px;
    font-weight: bold;
    color: #ff6080;
    font-size: 26px;
}


  .ava {
      grid-area: a;
      border-radius: 30px 30px;
      width: 100px;
      margin: 10px;
     
    }
  .post{
    border-radius: 20px 20px;
        grid-area: p;
        background-color: #ffb8c6;
        padding: 20px;
        padding-bottom: 0px;
        margin: 10px;
    }
    
    .post_description_like{
      text-align: right;
      color: red;
      font-weight: bold;
      
    }
   
    .post_description_data{
      color: red;
      padding-top: 10px;
      font-size: 15px;
    }
    .like{
      padding:0px
    }
    .textarea{
      
      margin: 10px;
      max-width: 1000px;
      min-width: 200px;
       height: 25px; 
    }
    .btn{
      background-color: #ffb8c6;
      
      height: 35px;
      border-radius: 10px 10px;
    }